.AppClass {
  font-size: 20px;
  font-family: Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  background-color: black;
  height: 100vh;
}